<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<link rel="stylesheet" href="/assets/stylesheets/mycard.scss" type="text/css">
<body>
<style>



  .table200.ver10 {
    background-color:white;
    width: 82%;
    height: 650px;
    align-self: center;
align-content: center;
box-align: center;
justify-content: center;
/* margin-top: 3%; */
border:  rgba(156, 39, 176, 0.28);
margin-left: 17.5%;
margin-top: 12px;



  }

  
  .table100.ver3 th {
    font-family: Lato-Bold;
    font-size: 20px;
    color:white;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #33033c;

  }
  
  .table100.ver3 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: white;
    line-height: 1.4;
    background-color: #33033c;
    border-color: solid black;
    margin-left: 7px;
    margin-right: 7px;

    width: 100%;

    
  }

.nav:hover {    box-shadow: 0 14px 28px rgb(153, 54, 153), 0 5px 5px rgba(0, 0, 0, 0.46);
}
/*.sidebar  li .nav-link p, body>.navbar-collapse .nav li .nav-link p {
    margin: 0;
    line-height: 31px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
        text-transform: uppercase;*/

}

a:visited {
    color: white;
   
}
a, a:focus {
    color: white;
    font-size:16px;
    width: 100px;
}
 a:hover{
     color:white;
 }
 button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100px;
  margin-left: 210px;
  background-color:#33033c;
}

</style>
        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar.jpg">


            <div class="sidebar-wrapper">


             <ul class="nav">
                   <li class="active">
                                                  <i class="material-icons">home</i>

                                        <%= link_to "Logout", destroy_user_session_path, method: :delete   %> 
                            

                       
                    </li></br></ul>
                 
<hr>
       
               

                <ul class="nav">
                   <br> <li class="active">
                                               <i class="material-icons">library_books</i>

                        <a href="/dashboard/index">
                            <p>Laws</p>

                        </a>
                    </li></br></ul>
                                    <ul class="nav">

                   <br> <li class="active">
                                                 <i class="material-icons">dashboard</i>

                              <a href="/lawyers">
                            <p>Lawyers</p>  
                            </a>
                        </a>
                    </li></br></ul>
                
                <ul class="nav">

                  <br>  <li class="active">
                                                 <i class="material-icons">person</i>

                            <a href="/profiles/new">
                            <p>Profile</p> 
                            </a>
                        </a>
                    </li></br></ul>
 

                  </hr>
            </div>
        </div>

       
        <div class="main-panel">
 
             

               
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                   
                </div>
            </nav>
            <div>




                    <div class="table200 ver10 m-b-110">






<div class="col-lg-3 col-md-6 col-sm-6">

  <div class="flip-container">
   <div class="flipper">
    <div class="front">DIVISION <BR>I</br><h8>Offences against public order</h8> </div>
    
     <div class="back">
      <div class="">
       <div class="">
       <span class="bold"></span><span class="contact"></span>
        <div class="icon-group">
       <span class="bold"> </span><a class="contact" href="mailto:hello@petrusrex.com" target="_top"></a>
</div>
<div class="icon-group">
<a class="contact" href="/chapviis" target="_blank"><li>ChapterVII <ul> Treason and Allied Offences</ul></li></a>
<a class="contact" href="/chapviiis" target="_blank"><li>Chapter:VIII <ul>Offences affecting relation with foreign states and external tranquility</ul></li></a>
<a class="contact" href="/chapvixes" target="_blank"><li>Chapter:IX <ul>Unlawful assemblies, riots and other offences against public tranquility</ul></li></a>
<a class="contact" href="/dashboard/index" target="_blank"><UL>CLICK LINKS TO VIEW</UL></a>
</div>
</div>
</div>
</div>
</div>
</div>
                        </div>


                        
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="flip-container">
   <div class="flipper">
     <div class="front">DIVISION </BR>II<br><h8>Offences against the Administration of Lawful Authority</h8></div>
    
     <div class="back">
      <div class="">
       <div class="">
       <span class="bold"></span><span class="contact"></span>
        <div class="icon-group">
       <span class="bold"> </span><a class="contact" href="mailto:hello@petrusrex.com" target="_top"></a>
</div>
<div class="icon-group">

<a class="contact" href="/chapxes" target="_blank"><li>Chapter:X <ul>Abuse of office</ul></li></a>
<a class="contact" href="/chapxiis" target="_blank"><li>Chapter:XI <ul>Offences relating to the administration of justice</ul></li></a>
<a class="contact" href="/chapxis" target="_blank"><li>Chapter:XII <ul>Rescues and escapes and obstructing officers of court</ul></li></a>
<a class="contact" href="/chapxiiis" target="_blank"><li>Chapter:XIII <ul>Miscellaneous offences against public authority</ul></li></a>

<a class="contact" href="/dashboard/index" target="_blank"><ul>CLICK LINKS TO VIEW</ul></a>
</div>
</div>
</div>
</div>
</div>
</div>
                            
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                           <div class="flip-container">
   <div class="flipper">
    <div class="front">DIVISION </BR>III<br><h8>Offences Injurious to the Public in General</h8></div>
    
     <div class="back">
      <div class="">
       <div class="">
       <span class="bold"></span><span class="contact"></span>
        <div class="icon-group">
       <span class="bold"> </span><a class="contact" href="mailto:hello@petrusrex.com" target="_top"></a>
</div>
<div class="icon-group">
<a class="contact" href="/chapxivs" target="_blank"><li>Chapter:XIV <ul>Offences relating to religion</ul></li></a>
<a class="contact" href="/chapxvs" target="_blank"><li>Chapter:XV <ul>Offences against morality</ul></li></a>
<a class="contact" href="/chapxvis" target="_blank"><li>Chapter:XVI <ul>Offences relating to marriage and domestic violence</ul></li></a>
<a class="contact" href="/chapxviis" target="_blank"><li>Chapter:XVII <ul>Nuisance and offences against health and convinience</ul></li></a>
<a class="contact" href="/chapxviiis" target="_blank"><li>Chapter:XVIII <ul>Defamation</ul></li></a>

<a class="contact" href="/div3/index" target="_blank"><ul>CLICK LINKS TO VIEW</ul></a>
</div>
</div>
</div>
</div>
</div>
</div>
                            
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                           <div class="flip-container">
   <div class="flipper">
     <div class="front">DIVISION </BR>IV<br><h8>Offences against the Person</h8></div>
    
     <div class="back">
      <div class="">
       <div class="">
       <span class="bold"></span><span class="contact"></span>
        <div class="icon-group">
       <span class="bold"> </span><a class="contact" href="mailto:hello@petrusrex.com" target="_top"></a>
</div>
<div class="icon-group">
<a class="contact" href="/chapxixes" target="_blank"><li>Chapter:XIX <ul>Murder and manslaughter</ul></li></a>
<a class="contact" href="/chapxxes" target="_blank"><li>Chapter:XX <ul>Duties relating to the preservation of life and health</ul></li></a>
<a class="contact" href="/chapxxis" target="_blank"><li>Chapter:XXI <ul>Offences connected with murder and suicide</ul></li></a>
<a class="contact" href="/chapxxiis" target="_blank"><li>Chapter:XXII <ul>Offences endangering life and health</ul></li></a>
<a class="contact" href="/chapxxiiis" target="_blank"><li>Chapter:XXIII <ul>Criminal recklessness anf negligence</ul></li></a>
<a class="contact" href="/chapxxivs" target="_blank"><li>Chapter:XXIV <ul>Assaualts</ul></li></a>
<a class="contact" href="/chapxxvs" target="_blank"><li>Chapter:XXV <ul>Offences against liberty</ul></li></a>



<a class="contact" href="/div4/index" target="_blank"><ul>CLICK LINKS TO VIEW</ul></a>
</div>
</div>
</div>
</div>
</div>
</div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                           <div class="flip-container">
   <div class="flipper">
    <div class="front">DIVISION </BR>V<br><h8> Offences relating to Property </h8></div>
    
     <div class="back">
      <div class="">
       <div class="">
       <span class="bold"></span><span class="contact"></span>
        <div class="icon-group">
       <span class="bold"> </span><a class="contact" href="mailto:hello@petrusrex.com" target="_top"></a>
</div>
<div class="icon-group">
<a class="contact" href="/chapxxvis" target="_blank"><li>Chapter:XXVI <ul>Theft</ul></li></a>
<a class="contact" href="/chapxxviis" target="_blank"><li>Chapter:XXVII <ul>Offences allied to stealing</ul></li></a>
<a class="contact" href="/chapxxviiis" target="_blank"><li>Chapter:XXVIII <ul>Robery and extortion</ul></li></a>
<a class="contact" href="/chapxxixes" target="_blank"><li>Chapter:XXIX <ul> Burglary, housebreaking and similar offences</ul></li></a>
<a class="contact" href="/chapxxxes" target="_blank"><li>Chapter:XXX  <ul>False pretences</ul></li></a>
<a class="contact" href="/chapxxxis" target="_blank"><li>Chapter:XXXI <ul> Handling property stolen or unlawfully</ul></li></a>
<a class="contact" href="/chapxxxiis" target="_blank"><li>Chapter:XXXII<ul> Frauds by trustees and persons of trust and false accounting</ul></li></a>



<a class="contact" href="/dashboard/index" target="_blank"><ul>CLICK LINKS TO VIEW</ul></a>
</div>
</div>
</div>
</div>
</div>
</div>

                            
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                           <div class="flip-container">
   <div class="flipper">
     <div class="front">DIVISION </BR>VI<br><h8>Malicious Injuries to Property</h8></div>
    
     <div class="back">
      <div class="">
       <div class="">
       <span class="bold"></span><span class="contact"></span>
        <div class="icon-group">
       <span class="bold"> </span><a class="contact" href="mailto:hello@petrusrex.com" target="_top"></a>
</div>
<div class="icon-group">
<a class="contact" href="/chapxxxiiis" target="_blank"><li>Chapter:XXIII <ul>Offences causing injury to property</ul></li></a>

<a class="contact" href="/dashboard/index" target="_blank"><ul>CLICK LINKS TO VIEW</ul></a>
</div>
</div>
</div>
</div>
</div>
</div>    

                            
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                           <div class="flip-container">
   <div class="flipper">
 <div class="front">DIVISION </BR>VII<br><h8>Forgery, Coining, Counterfeiting and Similar Offences</h8></div>    
     <div class="back">
      <div class="">
       <div class="">
       <span class="bold"></span><span class="contact"></span>
        <div class="icon-group">
       <span class="bold"> </span><a class="contact" href="mailto:hello@petrusrex.com" target="_top"></a>
</div>
<div class="icon-group">
<a class="contact" href="/chapxxxivs" target="_blank"><li>Chapter:XXXIV <ul>Definitions</ul></li></a>
<a class="contact" href="/chapxxxvs" target="_blank"><li>Chapter:XXXV <ul>Punishment of forgery</ul></li></a>
<a class="contact" href="/chapxxxvis" target="_blank"><li>Chapter:XXXVI <ul>Offences relating to coin, bank and currency notes</ul></li></a>
<a class="contact" href="/chapxxxviis" target="_blank"><li>Chapter:XXXVII <ul>Counterfeit stamps</ul></li></a>
<a class="contact" href="/chapxxxviiis" target="_blank"><li>Chapter:XXXVIII <ul>Counterfeiting trademarks</ul></li></a>
<a class="contact" href="/chapxxxixes" target="_blank"><li>Chapter:XXXIX <ul>Personation</ul></li></a>


<a class="contact" href="/div6/index" target="_blank"><ul>CLICK LINKS TO VIEW</ul></a>
</div>
</div>
</div>
</div>
</div>
</div>
                            
                        </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="flip-container">
                               <div class="flipper">

     <div class="front">DIVISION </BR>VIII<br><h8>Attempts and Conspiracies to commit Crimes and Accessories after the Fact</h8></div>
    
     <div class="back">
      <div class="">
       <div class="">
       <span class="bold"></span><span class="contact"></span>
        <div class="icon-group">
       <span class="bold"> </span><a class="contact" href="mailto:hello@petrusrex.com" target="_top"></a>
</div>
<div class="icon-group">
<a class="contact" href="/chapxls" target="_blank"><li>Chapter:XL <ul>Attempts</ul></li></a>
<a class="contact" href="/chapxlis" target="_blank"><li>Chapter:XLI <ul>Conspiracies</ul></li></a>
<a class="contact" href="/chapxliis" target="_blank"><li>Chapter:XLII <ul>Accessories after the fact</ul></li></a>

<a class="contact" href="/dashboard/index" target="_blank"><ul>CLICK TO LINKS VIEW</ul></a>
</div>
</div>
</div>
</div>
</div>
</div>
                            
                        </div>




    </div>
</body>
