<%= form_with(model: di8, local: true) do |form| %>
  <% if di8.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(di8.errors.count, "error") %> prohibited this di8 from being saved:</h2>

      <ul>
      <% di8.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
