// Place all the styles related to the landingpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*body {
    /* color: #fff;*/
    /* text-align: center;
     text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
     background-color:rgb(22, 21, 21);
     background-image: image-url('pik10.webp');
     background-size: 100%; 

    
   } */

   .topnav {
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 80px;
   opacity: 0.5;

    
}

// .body {
//     /* color: #fff;*/
//      text-align: center;
//      text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
//      background-color:rgb(22, 21, 21);
//      background-image:url(pik11.jpg);
//      background-size: 100% 100%;
//     }

// .background{
    
//     background: image-url('pik11.jpg') no-repeat;
//     background-size: cover;
// }




.center {
    width:980px;
    border-radius: 0px;


    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;

    border: 0px solid rgba(245, 238, 238, 0.213);
    padding: 10px;}

/* Style the links inside the navigation bar */
.topnav a {
    float:right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

   